body {
    font-family: Arial;
    background: linear-gradient(135deg, #6a5acd, #836fff);
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

form input, form select {
    width: 90%;
    padding: 10px;
    margin: 5px;
}

form button {
    width: 95%;
    padding: 10px;
    background: #6a5acd;
    color: white;
    border: none;
    border-radius: 5px;
}

table {
    width: 100%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background: #6a5acd;
    color: white;
}

td, th {
    padding: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}